[submodule "robot-colosseum"]
	path = robot-colosseum
	url = https://github.com/robot-colosseum/robot-colosseum.git
[submodule "pyrep"]
	path = pyrep
	url = https://github.com/stepjam/PyRep.git
[submodule "rlbench"]
	path = rlbench
	url = https://github.com/stepjam/RLBench.git
