[submodule "robot-colosseum"]
	path = robot-colosseum
	url = https://github.com/robot-colosseum/robot-colosseum.git
[submodule "pyrep"]
	path = pyrep
	url = https://github.com/stepjam/PyRep.git
[submodule "rlbench"]
	path = rlbench
	url = https://github.com/stepjam/RLBench.git
[submodule "RVT/libs/YARR"]
	path = RVT/libs/YARR
	url = https://github.com/NVlabs/YARR.git
[submodule "RVT/libs/peract"]
	path = RVT/libs/peract
	url = https://github.com/NVlabs/peract.git
[submodule "RVT/libs/peract_colab/peract_colab"]
	path = RVT/libs/peract_colab/peract_colab
	url = https://github.com/peract/peract_colab.git
